@import 'bootstrap/scss/bootstrap';

.navbar {
  background-color: #a7e8ed !important;
}

.navbar-brand {
  font-size: 2.5rem;
}

h1 {
  color: rgba(2, 30, 41, 0.646);
}

li.nav-item > a:hover
{
  background-color:#FCC;
}

nav > a.navbar-brand:hover{
  background-color: rgb(189, 119, 181);
}