@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #a7e8ed !important;
}

.navbar-brand {
  font-size: 2.5rem;
}
  
h1 {
  color: rgba(0, 187, 255, 0.646);
}

li.nav-item > a:hover
{
  background-color:#FCC;
}

nav > a.navbar-brand:hover{
  background-color: rgb(189, 119, 181);
}